html{
height: 100%;

}

body {
  min-height: 100%;
  height: 100vh;
  margin: 0;
    background-image: url(img/sfondo.jpg);
    min-width: 400px;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-auto-rows: 300px;
}





#messaggio_alleato{
  display: grid;
  grid-template-columns: 75% 25%;
  align-self: center;
  justify-self: center;
  text-align: center;
  min-height: 100px;
  width: 100%;
  font-family: 'Special Elite', cursive;
  color: white;
  font-size: 2vw;
  
}

#tuo_turno{
  font-size: 1.6vw;
  font-family: 'Acme';
  color: yellow;
}







#seconda_riga{
  display: grid;
  grid-template-columns: 75% 25%;
}


#barra_dx{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 15px;
}


#messaggio{
  background-color: rgba(0,0,0,.2);
  min-height: 200px;
  min-width: 80%;
  max-width: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  height:220px;
}

#messaggio::-webkit-scrollbar{
  width: 10px;
}

.testo_chat{
  color: lightblue;
  font-size: 1.1vw;
  font-family: 'Acme';
  margin: 1px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}





#players{
  font-size: 1.6vw;
  font-family: 'Acme';
  color: yellow;
}

.player{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

#imgPiccola{
  display: block;
  margin-left: auto;
  width: 25px;
  height: auto;
}

.namePlayer{
  margin:2px;
  margin-left: 5px;
}








#board{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:  repeat(3, 1fr);
}

.nestedBoard{

  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:  repeat(2, 1fr);
  align-self: center;
  justify-self: center;
}

.riquadro{
  align-self: center;
  justify-self: center;
  padding: 5px;
}







#imageSx{

  display: block;
  margin-left: auto;
  height: 85px;
  width: auto;

}

#imageDx{
  display: block;
  margin-right: auto;
  height: 85px;
  width: auto;
}





#box_iniziale{
  background-color: white;
  padding: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  position: absolute;
}


#opaco{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);

}


#inputName{
  display: block;
  margin-left: auto;
  margin-right: auto
}

#startButton{
  display: block;
  margin-left: auto;
  margin-right: auto
}


#carta_sx{
  float: left;
  max-height: 200px;
  width:50%;
}

#carta_dx{
  float: right;
  max-height: 200px;
  width:50%;
}
